<div class="header">
  <div class="container">
    <div class="grid-middle">
      <div class="col-3_sm-6">
        <a class="logo" href="{{ "/" | relative_url }}" title="Home">
          <img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="Inex Plastering Logo" />
        </a>
      </div>
      <div class="col-9_sm-6 text-right">
        <div class="mobile-btn btn js-mobile-menu-btn">
          Menu <i class="fas fa-bars"></i>
        </div>
        <ul class="nav cf">
          <li class="nav__item">
            <a href="{{ "/commercial" | relative_url }}" class="nav__link">
              Commercial
            </a>
          </li>
          <li class="nav__item">
            <a href="{{ "/residential" | relative_url }}" class="nav__link">
              Residential
            </a>
          </li>
          <li class="nav__item">
            <a href="{{ "/custom" | relative_url }}" class="nav__link">
              Custom
            </a>
          </li>
          <li class="nav__item">
            <a href="{{ "/jobs" | relative_url }}" class="nav__link">
              Jobs
            </a>
          </li>
          <li class="nav__item nav__item--has-sub">
            <span class="nav__link fake-nav__link">
              Info <i class="fas fa-caret-down fa-xs"></i> 
            </span>
            <ul class="sub-nav">
              <li class="sub-nav__item">
                <a href="{{ "/about-us" | relative_url }}" class="sub-nav__link">
                  About Us
                </a>
              </li>
              <li class="sub-nav__item">
                <a href="{{ "/safety-records" | relative_url }}" class="sub-nav__link">
                  Safety Records
                </a>
              </li>
            </ul>
          </li>
          <li class="nav__item">
            <a href="{{ "/contact-us" | relative_url }}" class="nav__link btn">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>