<div class="header">
  <div class="container">
    <div class="grid-middle">
      <div class="col-3">
        <a class="logo" href="/" title="Home">
          <img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="Bold Commerce Logo" />
        </a>
      </div>
      <div class="col-9">
        <ul class="nav cf">
          <li class="nav__item">
            <a href="#" class="nav__link">
              Commercial
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              Residential
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              Custom
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              Jobs
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              About Us
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link btn">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>