<div class="mobile-menu">
  <ul class="mobile-nav">
    <li class="mobile-nav__item">
      <a href="{{ "/commercial" | relative_url }}" class="mobile-nav__link {% if page.url contains "/commercial" %}active{% endif %}">
        <i class="fas fa-store"></i> Commercial
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href="{{ "/residential" | relative_url }}" class="mobile-nav__link {% if page.url contains "/residential" %}active{% endif %}">
        <i class="fas fa-home"></i> Residential
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href="{{ "/custom" | relative_url }}" class="mobile-nav__link {% if page.url contains "/custom" %}active{% endif %}">
        <i class="fas fa-building"></i> Custom
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href="{{ "/jobs" | relative_url }}" class="mobile-nav__link {% if page.url contains "/jobs" %}active{% endif %}">
        <i class="fas fa-user-tie"></i> Jobs
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href="{{ "/about-us" | relative_url }}" class="mobile-nav__link {% if page.url contains "/about-us" %}active{% endif %}">
        <i class="fas fa-users"></i> About Us
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href="{{ "/commitment-to-safety" | relative_url }}" class="mobile-nav__link {% if page.url contains "/commitment-to-safety" %}active{% endif %}">
        <i class="fas fa-clipboard-list"></i> Commitment to Safety
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href="{{ "/contact-us" | relative_url }}" class="mobile-nav__link btn">
        <i class="fas fa-envelope"></i> Contact Us
      </a>
    </li>
  </ul>
</div>