---
---

@import "reset";
@import "grid";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,900i');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css');
@import "magnific-popup";

/*======================
  VARIABLES
======================*/
$bgColor: #333333;
$bgColorLight: #505050;
$bgColorDark: #222222;
$mainColor: #CFAB76;
$mainColorDark: #A6844E;
$lightColor: #F7F7F7;

$borderRadius: 3px;
$gutter: 30px;

$fontOne: 'Roboto', sans-serif;

/*======================
  GLOBAL
======================*/
html {
  background-color: $bgColor;
  background-image: url('{{ "/assets/images/background.png" | relative_url }}');
  background-repeat: no-repeat;
}
body {
  position: relative;
  font-family: $fontOne;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-top: 8px solid $mainColor;
}
.nav-opened {
  .wrapper {
    transform: translate(-200px, 0);
    overflow: hidden;
  }
  .overlay {
    display: block;
  }
}
.wrapper {
  position: relative;
  z-index: 10;
  background: $bgColor;
  overflow-x: hidden;
  -webkit-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0,0,0,0.5);
}
p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}
ul {
  margin-left: 30px;
  list-style-type: disc;
  li {
    padding: 5px 0;
    color: #fff;
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

/*======================
  HELPERS
======================*/
.cf {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  font-size: 16px;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: -0 1px 1px rgba(0,0,0,0.1);
  color: $lightColor;
  background-color: $mainColor;
  border: 0;
  border-radius: $borderRadius;
  transition: all .2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: $mainColorDark;
  }
}
.title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;
}
.sub-title {
  font-size: 24px;
  line-height: 60px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;
}
.small-title {
  font-size: 16px;
  line-height: 32px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;
}
.margin-20 {
  margin-bottom: 20px;
}
.margin-30 {
  margin-bottom: 30px;
}
.img-contained {
  width: 100%;
}
.img-small {
  max-width: 100px;
}
.bordered {
  border-radius: $borderRadius;
}
.divider {
  margin: 40px 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.italic {
  font-style: italic;
}

/*======================
  HEADER
======================*/
.layout-home {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    .nav__link, .fake-nav__link {
      color: $bgColor;
    }
    .btn {
      color: #fff;
      background-color: $bgColor;
    }
  }
}
.logo {
  display: block;
  margin-top: 25px;
  &:hover {
    opacity: 0.75;
  }
  img {
    width: 100%;
    max-width: 170px;
  }
}
.nav__item {
  display: inline-block;
  margin-left: 15px;
  padding: 10px 0;
  &:first-of-type {
    margin-left: 0;
  }
}
  .nav__link, .fake-nav__link {
    display: block;
    font-size: 16px;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: $lightColor;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
      color: $mainColor;
    }
    &.fake-nav__link {
      cursor: default;
    }
  }
.nav__item--has-sub {
  position: relative;
  &:hover {
    .sub-nav {
      display: block;
    }
  }
}
.sub-nav {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  display: none;
  width: 150px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  background: $mainColor;
  border-radius: $borderRadius;
  transform: translate(-50%, 0);
  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $mainColor;
    transform: translate(-50%, 0);
  }
}
  .sub-nav__item {
    padding: 0;
  }
    .sub-nav__link {
      display: block;
      padding: 10px 15px;
      font-size: 16px;
      font-style: italic;
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: none;
      color: $lightColor;
      border-radius: $borderRadius;
      cursor: pointer;
      transition: all .2s ease-in-out;
      &:hover {
        background-color: $mainColorDark;
      }
    }

/*======================
  MOBILE MENU
======================*/
.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 200px;
  height: 100%;
  background: $mainColor;
  overflow-y: scroll;
}
  .mobile-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
      .mobile-nav__link {
        display: block;
        padding: 10px 15px;
        font-size: 16px;
        font-style: italic;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
        color: $lightColor;
        transition: all .2s ease-in-out;
        &:hover, &.active {
          background-color: $mainColorDark;
        }
        &.btn {
          margin: 0 10px;
          text-align: center;
          background-color: $bgColor;
          &:hover {
            background-color: $bgColorDark;
          }
        }
        svg {
          width: 25px!important;
        }
      }
      .mobile-sub-nav {
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;
        background: $mainColorDark;
        &:before {
          content: '';
          position: absolute;
          bottom: 100%;
          left: 12%;
          z-index: 3;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid $mainColorDark;
        }
      }
        .mobile-sub-nav__link {
          display: block;
          padding: 10px 15px;
          font-size: 16px;
          font-style: italic;
          font-weight: 900;
          text-transform: uppercase;
          text-decoration: none;
          color: $lightColor;
          border-radius: $borderRadius;
          cursor: pointer;
          transition: all .2s ease-in-out;
          &:hover {
            background-color: $mainColorDark;
          }
        }
.mobile-btn {
  display: none;
}

/* RESPONSIVE STYLES FOR HEADER + MOBILE MENU */
@media only screen and (max-width: 960px) {
  .mobile-btn {
    display: inline-block;
  }
  .header {
    margin-bottom: 20px;
    .nav {
      display: none;
    }
  }
}

/*======================
  HOME
======================*/
.home-section {
  margin-bottom: 80px;
}
.home-banner__wrapper {
  margin-bottom: $gutter;
}
.home-banner__slide {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 50%;
    opacity: 0.3;
    background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(216,216,216,0.00) 22%);
  }
  img {
    width: 100%;
  }
}
  .home-banner__content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 5;
    color: $lightColor;
    box-shadow: -5px 5px 15px rgba(0,0,0,0.3);
  }
    .home-banner__content-type {
      display: block;
      float: left;
      padding: 0 15px;
      font-size: 24px;
      line-height: 42px;
      font-weight: 900;
      font-style: italic;
      text-transform: uppercase;
      background-color: $bgColor;
      border-bottom: 1px solid $bgColorLight;
    }
    .home-banner__content-arrow {
      display: block;
      float: left;
      padding: 0 20px;
      font-size: 14px;
      line-height: 42px;
      background-color: $bgColor;
      border-left: 1px solid $bgColorLight;
      border-bottom: 1px solid $bgColorLight;
      cursor: pointer;
      transition: all .2s ease-in-out;
      &:hover {
        background-color: $bgColorLight;
      }
    }
  .home-banner__content-bottom {
    padding: 0 25px;
    font-size: 56px;
    line-height: 94px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    background-color: $bgColor;
  }
.home-block {
  position: relative;
  display: block;
  border-radius: $borderRadius;
  overflow: hidden;
  transition: all .2s ease-in-out;
  &:hover {
    &:before {
      background-color: rgba(0,0,0,0.25);
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.75);
    transition: all .2s ease-in-out;
  }
}
  .home-block__content {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    width: 100%;
    transform: translate(0, -50%);
  }
  .home-block__content-icon {
    display: block;
    margin: 0 auto 10px auto;
  }
  .home-block__content-title {
    display: block;
    width: 100%;
    font-size: 26px;
    line-height: 34px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    color: $lightColor;
  }
  .home-block__bg {
    width: 100%;
    display: block;
  }

.home-supplier {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 50%;
  background-color: #fff;
  border-radius: $borderRadius;
  &:hover {
    .home-supplier__logo {
      width: 75%;
    }
  }
}
  .home-supplier__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 70%;
    transform: translate(-50%, -50%);
    transition: all .2s ease-in-out;
  }

/* RESPONSIVE STYLES FOR HOME */
@media only screen and (max-width: 768px) {
  .home-banner__content {
    bottom: $gutter;
    left: $gutter;
  }
  .home-banner__content-bottom {
    padding: 0 15px;
    font-size: 32px;
    line-height: 50px;
  }
  .home-banner__content-type {
    padding: 0 10px;
    font-size: 16px;
    line-height: 32px;
  }
  .home-banner__content-arrow {
    padding: 0 12px;
    font-size: 12px;
    line-height: 32px;
  }
  .home-block__content-icon {
    width: 80px;
  }
  .home-block__content-title {
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 480px) {
  .home-banner__slide {
    img {
      position: relative;
      left: 50%;
      width: 150%;
      transform: translate(-50%, 0);
    }
  }
  .home-block {
    margin-bottom: $gutter;
  }
  .home-supplier {
    margin-bottom: $gutter;
  }
}

/*======================
  FOOTER
======================*/
.footer {
  background-color: $bgColorDark;
}
  .footer-top {
    padding: 40px 0;
    p {
      margin-bottom: 30px;
    }
  }
  .footer-bottom {
    border-top: 1px solid #5E5E5E;
  }
    .copyright {
      font-size: 14px;
      line-height: 50px;
      text-transform: uppercase;
      color: #5E5E5E; 
    }

/* RESPONSIVE STYLES FOR FOOTER */
@media only screen and (max-width: 1024px) {
  .footer {
    .logo {
      display: inline-block;
      margin-bottom: 15px;
    }
    .nav {
      margin: 0 0 20px 0;
    }
    .nav__item {
      display: block;
      float: left;
      width: 150px;
      margin: 0;
      &:nth-of-type(2n+3) {
        clear: both;
      }
    }
  }
  .footer-top {
    padding: 10px 0;
  }
  .copyright {
    padding: 10px 0;
    line-height: normal;
  }
}
/*======================
  PAGES
======================*/
.content {
  min-height: calc(100vh - 356px);
}
.page-title {
  margin-bottom: 20px;
  line-height: 94px;
}

.gallery__item {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 66%;
  border-radius: $borderRadius;
  overflow: hidden;
}
  .gallery__image {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    width: 100%;
    transform: translate(0, -50%);
  }
  .mfp-title {
    font-size: 24px;
    line-height: 60px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
  }
  .mfp-counter {
    font-size: 16px;
    line-height: 60px;
    color: #fff;
  }

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: #fff;
}
.input {
  display: block;
  width: calc(100% - 20px);
  padding: 0 10px;
  font-size: 16px;
  line-height: 38px;
  background-color: rgba(255,255,255,0.5);
  border: 2px solid transparent;
  border-radius: $borderRadius;
  &:focus, &:active {
    border: 2px solid #fff;
    outline: none;
  }
}
.textarea {
  min-height: 150px;
  max-width: 100%;
  background-color: rgba(255,255,255,0.5);
}