---
layout: default
---

<div class="container">

  <div class="grid-center">
    <div class="col-10_md-12 margin-30">
      <h1 class="title">{{ page.title }}</h1>
    </div>
  </div>

  <div class="grid-center">
    <div class="col-10_md-12 margin-20 rte">
      {{ content }}
    </div>
    <div class="col-10_md-12 margin-30">
      <form class="form" action="https://mailthis.to/justinpatenaude92@mail.com" method="POST">
        <div class="grid">
          <div class="col-6_sm-12 margin-20">
            <label class="label" for="name">Name</label>
            <input class="input" id="name" type="text" name="name" placeholder="John Doe">
          </div>
          <div class="col-6_sm-12 margin-20">
            <label class="label" for="email">Email</label>
            <input class="input" id="email" type="email" name="_replyto" placeholder="johndoe@gmail.com">
          </div>
          <div class="col-12 margin-20">
            <label class="label" for="message">Message</label>
            <textarea class="textarea" id="message" name="message" placeholder="Enter your message here"></textarea>
          </div>
          <div class="col-12">
            <input type="hidden" name="_honeypot" value="">
            <input class="btn" type="submit" value="Send"> 
          </div>
        </div>
      </form> 
    </div>
  </div>

</div>