---
layout: default
---

<div class="container">
  <div class="grid-center">
    <div class="col-10_md-12 margin-30">
      <h1 class="title">{{ page.title }}</h1>
    </div>
  </div>
</div>

<div class="gallery__wrapper">
  <div class="container">
    <div class="grid-center">
      <div class="col-10_md-12">
        
        <div class="gallery">
          <div class="grid">
            {% if page.photos.size > 0 %}
              {% for photo in page.photos %}
              <div class="col-4_sm-6_xs-12">
                <a class="gallery__item margin-30" href="{{ photo }}" title="{{ page.title }}">
                  <img class="gallery__image" src="{{ photo }}" title="{{ page.title }}" />
                </a><!-- /gallery__item -->
              </div>
              {% endfor %}
            {% else %}
              <div class="col-12 text-center">
                <p class="italic">There are no photos in this gallery yet.</p>
              </div>
            {% endif %}
          </div>
        </div><!-- /gallery -->

      </div>
    </div>
  </div>
</div>