---
layout: default
---

<div class="container">

  <div class="grid-center">
    <div class="col-10_md-12 margin-30">
      <h1 class="title">{{ page.title }}</h1>
    </div>
  </div>

  <div class="grid-center">
    <div class="col-10_md-12 margin-30 rte">
      {{ content }}
    </div>
    <div class="col-5_md-12 margin-30 rte">
      <a href="http://www.serenitysafety.ca/" target="_blank" class="home-supplier">
        <img class="home-supplier__logo" src="{{ '/assets/images/logo-serenity.png' | relative_url }}" title="Serenity Safety Consulting" />
      </a>
    </div>
  </div>

</div>